body {
  margin: 0;
  padding: 0;
  font-family: "nanumsquare";
  background-color: #f9f9f9;
  overflow-x: hidden;
}

header {
  background-color: #282c34;
  color: white;
  width: 100%;
  padding: 25px;
  display: flex;
}

.logo {
  font-size: 20px;
  font-weight: 550;
}

.title {
  font-size: 20px;
  font-weight: 550;
  margin: 50px;
}

/* Post List */
.post {
  background-color: white;
  padding: 20px 30px;
  border-radius: 7px;
  margin: auto;
  width: 80%;
  max-width: 700px;
}

.post__title {
  font-size: 20px;
  font-weight: 550;
  color: #282c34;
  text-align: left;
}

.post__meta {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  color: gray;
}

.created,
.modal__created {
  color: #bdbdbd;
}

/* Modal */
.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px 30px;
  width: 80%;
  max-width: 1000px;
  height: 50%;
  border-radius: 7px;
  overflow: scroll;
}

.modal__btn--close {
  text-align: right;
  font-weight: 600;
}

.modal__created {
  padding-top: 50px;
  font-size: 14px;
}

.modal__title {
  padding: 10px 20px 40px;
  font-size: 25px;
  font-weight: 550;
}

.modal__content {
  padding: 20px;
}

/* status */
.likes span:hover,
.post__title:hover,
.modal__btn--close:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

/* App */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
